.hide {
    display: none !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

.dropdown-menu .fit-content {
    width: max-content;
}

@media (max-width: 767px) {
    .dropdown-menu .fit-content {
        width: inherit;
    }
}